body {

    background-image: url(backgroundmain.png);

}

#divider {

    margin: auto;
    width: 300px;
    height: 25px;
    display: block;

}

.headermain {

    text-align: center;
    margin-bottom: 0%;
    color: rgb(63, 138, 182);
}

.botaomain {

    background-color: rgb(63, 138, 182);
    margin-right: 15px;
    border: 4px outset rgb(49, 134, 184);
    padding: 4px 8px;
    border-radius: 4px;
    text-decoration: none;
    color: white;
    display: inline-block;

}